* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* COLUMNA UNO */

.containerOne {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;

  align-items: center;
  justify-content: center;
}

.login>h1 {
  font-size: 40px;
  color: #ca2355;
}

.login>h3 {
  font-size: 20px;
  font-weight: 400;
  color: #404040;
  margin-bottom: 15px;
}

.login>label {
  font-weight: 650;
  color: #404040;
  width: 80%;
}

.containerOne input[type="text"],
input[type="password"] {
  width: 80%;
  height: 6%;
  padding: 10px;
  margin-bottom: 10px;
}

/* OPCIONES  */

.options {
  width: 80%;
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.remember {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 100%;
}

.remember>h5 {
  margin-right: 15px;
  font-weight: 500;
  color: #404040;
}

.forgerPassword {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.forgerPassword a {
  text-decoration: none;
  font-size: 12px;
  color: #878787;
}

/* OPCIONES DE INICIO DE SESIÓN */

.icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
}

.cardIconG {
  width: 2rem;
  height: 2rem;
  border: 1.5px solid #878787;
  border-radius: 3px;
  background-image: url("/src/assets/img/G.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.cardIconF {
  width: 2rem;
  height: 2rem;
  border: 1.5px solid #878787;
  border-radius: 3px;
  background-image: url("/src/assets/img/F.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.cardIconM {
  width: 2rem;
  height: 2rem;
  border: 1.5px solid #878787;
  border-radius: 3px;
  background-image: url("/src/assets/img/M.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

/* BOTON FORMULARIO */

.loginButton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.loginButton button {
  color: white;
  width: 13rem;
  height: 35px;
  background-color: #ca2355;
  border-radius: 10px;
}

/* COLUMNA DOS */

.containerTwo {
  background-color: #ca2355;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTwo h2 {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.imgSlider {
  width: 28rem;
  height: 17rem;
  border-radius: 10px;
}
.carousel .slide {
 
  background-color: black;
}
.carousel{
  border-radius: 15px;
}
