* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES DE COLOR */

:root {
  --color-fondo-pagina: #eeeeee;
  --color-texto-principal: #192029;
  --color-texto-secundario: #ffffff;
  --color-card-fondo: #ffffff;
  --color-icono: #d9d9d9;
  --color-footer-fondo: #eeeeee;
}

/* PRIMER INTERFAZ */

.pageOne {
  height: 100vh;
  width: 100%;
  background-color: var(--color-fondo-pagina);
}

header {
  width: 100%;
  height: 70px;
  justify-content: space-between;
  display: flex;
  background-color: var(--color-fondo-pagina);
}

header > h3 {
  color: var(--color-texto-principal);
  width: 100px;
  margin: 20px;
  font-size: 25px;
  margin-left: 3rem;
}

header > button {
  font-size: 16px;
  margin-right: 50px;
  width: 120px;
  height: 40px;
  margin: 20px;
  border-radius: 5px;
}

/* COLUMNAS */

.content {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* COLUMNA 1 */

.contentOne {
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-principal);
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 70%;
  height: 100%;
}

.contentText > h1 {
  font-size: 4rem;
}

.contentText > h5 {
  font-weight: 500;
  font-size: 18px;
}

.contentText > button {
  font-size: 18px;
  border-radius: 10px;
  margin-top: 15px;
  width: 10rem;
  height: 50px;
  margin-bottom: 5rem;
}

/* COLUMNA 2 */

.contentTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.imgPageOne {
  height: 25rem;
  width: 25rem;
  border: 1px solid; /* En este caso se rellenaran de imagenes */
}

/* SEGUNDA INTERFAZ */

.pageTwo {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5%;
}

.pageTwo > h1 {
  display: flex;
  justify-content: center;
  height: 7rem;
  width: 100%;
  font-size: 4rem;
}

.card {
  background-color: var(--color-card-fondo);
  border-radius: 15px;
  height: 19rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 10px;
}

.card h3 {
  font-size: 30px;
}
.card h4 {
  font-weight: 400;
}

.imgPageTwo {
  background-image: url("/src/assets/img/imgPageTwo.svg");
  height: 9rem;
  width: 9rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 19rem;
  width: 16rem;
  background-color: #b0b0b0;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: none;
  gap: 5px;
}

.cardTwo h3 {
  color: var(--color-texto-secundario);
  font-size: 25px;
}

.cardTwo button {
  font-size: 15px;
  width: 9rem;
  font-weight: 700;
  height: 3rem;
  border-radius: 15px;
}

/* TERCER INTERFAZ */

.pageThree {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pageThree h1 {
  font-size: 4rem;
  margin: 15px;
}

.pageThree h4 {
  font-weight: 500;
  width: 100%;
  font-size: 140%;
  margin-bottom: 30px;
}

.imagesPageThree {
  height: 100%;
  width: 65%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.imgPageThreeOne {
  height: 20rem;
  width: 28rem;
  margin: 20px;
  border: 1px solid; /* En este caso se rellenaran de imagenes */
}

.imgPageThreeTwo {
  height: 20rem;
  width: 28rem;
  margin: 20px;
  border: 1px solid; /* En este caso se rellenaran de imagenes */
}

/* Footer */

footer {
  height: 16rem;
  width: 100%;
  background-color: var(--color-footer-fondo);
}

.contentFooter {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 12rem;
  background-color: var(--color-footer-fondo);
}

.textoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12rem;
  color: var(--color-texto);
  padding: 10%;
}

.textoFooter h4 {
  font-weight: 500;
}

/* ICONOS */

.Icons {
  height: 12rem;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.inonografia {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.Year {
  color: var(--color-texto-secundario);
  display: flex;
  width: 100%;
  justify-content: center;
}
