* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PRIMER INTERFAZ */

.pageOne {
    height: 100vh;
    width: 100%;
    background-color: #EEEEEE;
}

header {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    display: flex;
    background-color: #EEEEEE;
}

header>h3{
    width: 100px;
    margin: 20px;
    font-size: 25px;
    margin-left: 3rem;
}

header>button {
    font-size: 16px;
    margin-right: 50px;
    width: 120px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: #D9D9D9;
}

/* COLUMNAS */

.content {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* COLUMNA 1 */

.contentOne{   
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.contentText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 70%;
    height: 100%;
}

.contentText > h1{
    font-size: 4rem;
}

.contentText > h5{
    font-weight: 500;
    font-size: 18px;
}

.contentText > button{
    font-size: 18px;
    background-color: #D9D9D9;
    border: #D9D9D9;
    border-radius: 10px;
    margin-top: 15px;
    width: 10rem;
    height: 50px;
    margin-bottom: 5rem;
}

/* COLUMNA 2 */

.contentTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.imgPageOne{
    background-color: #D9D9D9;
    height: 25rem;
    width: 25rem;
    border: 1px solid #000000;
}

/* SEGUNDA INTERFAZ */

.pageTwo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5%;
    
}

.pageTwo > h1{
    display: flex;
    justify-content: center;
    height: 7rem;
    width: 100%;
    font-size: 4rem;
    ;
    
}

.card{
    border-radius: 15px;
    height: 19rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 10px;
}

.card h3{
    font-size: 30px;
}
.card h4{
    font-weight: 400;
}


.imgPageTwo{
    
    background-image: url("/src/assets/img/imgPageTwo.svg");
    height: 9rem;
    width: 9rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cardTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 19rem;
    width: 16rem;
    background-color: #B0B0B0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    gap: 5px;
    
}

.cardTwo h3{
    color: white;
    font-size: 25px;
}

.cardTwo button{
    font-size: 15px;
    width: 9rem;
    font-weight: 700;
    height: 3rem;
    background-color: #D9D9D9;
    border: #D9D9D9;
    border-radius: 15px;
    
}

/* TERCER INTERFAZ */

.pageThree{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageThree h1{
    font-size: 4rem;
    margin: 15px;
}

.pageThree h4{
    font-weight: 500;
    width: 100%;
    font-size: 140%;
    margin-bottom: 30px;
}

.imagesPageThree{
    height: 50%;
    width: 65%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    
}

.imgPageThreeOne{

    height: 20rem;
    width: 28rem;
    margin: 20px;
    background-color: #D9D9D9;
}

.imgPageThreeTwo{
    
    height: 20rem;
    width: 28rem;
    
    margin: 20px;
    background-color: #D9D9D9;

}

/* Footer */

footer{
    height: 16rem;
    width: 100%;
    background-color: #B0B0B0;
}

.contentFooter{
    display: grid;
    grid-template-columns: 50% 50%;    
    width: 100%;
    height: 12rem;
    background-color: #B0B0B0;

}

.textoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    color: #192029;
    padding: 10%;
}

.textoFooter h4{

    font-weight: 500;

}


/* ICONOS */

.Icons{
    
    height: 12rem;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.inonografia{

    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #D9D9D9;

}

.Year{
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;

}