.linkBanner{
    width: 0;
    height: 0;
    text-decoration: none;
}

.backgroundBlue {
    display: flex;
    /* width: 50%; */
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #B6ECF5, #14C2DF);
    line-height: 1;
    height: 100%;
    font-weight: 600;
    border-radius: 5px;
    color: var(--color-white);
    text-shadow: 0px 2px 3px #00000039;
    font-size: 2rem;
    text-align: center;
}

.backgroundPink {
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    line-height: 1;
    background: linear-gradient(to right, #A235E5, #CA2355);
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-white);
    text-shadow: 0px 2px 3px #00000039;
    font-size: 2rem;
    text-align: center;
}