.package {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}


.details-package{
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 5px;
}
.package-actions{
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 5px;
}
.containerButtonPackage{
  display: flex;
  justify-content: space-evenly;
}
.tab{
  padding: 5px 10px;
  border: 2px solid var(--color-violet);
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.tab-active{
  background-color: var(--color-violet);
  color: var(--color-white);
}
.list-clients-add{
  height: 140px;
  background-color: rgb(250, 250, 250);
  overflow-y: auto;
  border-radius: 4px;
}
.client-add{
  display: flex;
  font-size: 18px;
  cursor: pointer;
  padding: 3px;
  font-weight: 600;
  transition: 1s ease-in-out;
}
.client-add:hover{
  transition: .2s ease-in-out;
  background-color: rgb(116, 208, 208);
}
.btn-remove-user{
  padding: 5px;
  border-radius: 2px;
  background-color: var(--color-violet);
  font-weight: 700;
  color: var(--color-white);
  cursor: pointer;
}
.user-selected{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  align-items: center;
  border-radius: 10px;
  padding: 3px;
  border: 2px solid #ccc;
}
.user-selected > .user{
  font-size: 18px;
  font-weight: 600;
}
/* .formContent {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 7px 7px rgba(120, 120, 120, 0.5);;
  background-color: var(--color-white);
} */