.button-aqua {
    background-color: var(--color-aqua);
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 4px;
}

.button-aqua:hover {
    background-color: var(--color-aqua--hover);
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 4px;
}

.button-aqua:disabled{
 background-color: var(--color-gray);
}

.listusers table{
    width: 100%;
}

.btn{
    padding: 1px 3px;
    border-radius: 2px;
    background-color: var(--color-violet);
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}