* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    color: var(--color-primario);
}
.dashboard section:first-child{
    background-color: aqua;
}
.dashboard section:nth-child(2){
    background-color: aquamarine;
}