* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    color: var(--color-gray-dark);
}

.sectionPanel{
    display: grid;
    grid-template-rows: 8% auto;
}

.dashboard h1 {
    font-size: 2rem;
    text-align: center;
}
.imagePerfil{
    
    text-align: center;
    padding: 10px 0;
    /* color: var(--color-primario);  Comentada por el momento */
}
.dashboard section:first-child{
    background-color: var(--color-gray)
}
.dashboard section:nth-child(2){
    background-color: var(--color-gray-light);
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
}

/* .navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.iconContainer{
    background-color: #F7F7F7;
    padding: 5px 5px;
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    border-radius: 50%;

}
.iconSetting{
    background: url("../../../assets/img/iconSetting.svg") no-repeat;
    display: block;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
} */
/* .dashboard section:nth-child(2){
    background-color: var(--color-gray-light);
    background-color: #FAFAFA;
} */

