.formcliente {
  border: 1px solid;
  height: 30rem;
  margin: 10px 40px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.alargarTarjeta {
  height: 50rem;
}

.titleFormCliente {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.clienteColor {
  color: #ca2355;
}

.personalInformation {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
}

/* SECCIÓN UNO DATOS PERSONALES */

.ContenedorUno {
  margin: 20px;
}

.ContenedorUno label {
  width: 100%;
  font-weight: bold;
}

.ContenedorUno input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

/* SECCIÓN DOS DATOS PERSONALES */

.ContenedorDos {
  margin: 20px;
}

.ContenedorDos label {
  width: 100%;
  font-weight: bold;
}

.ContenedorDos input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.buttonFormCliente {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 2%;
}

.buttonFormCliente > button {
  margin: 10px;
  width: 8rem;
  height: 2rem;
  background-color: var(--color-violet);
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.205);
  font-weight: 600;
  transition: 0.4s ease-in-out;
}
.buttonFormCliente > button:hover {
  background-color: var(--color-violet--hover);
}

/* APARTADO EMPRESA + FORMULARIO*/

.TitleEmpresaApartado {
  width: 100%;
  margin: 20px;
  padding: 2%;
}

.optionEmpresa {
  padding: 2%;
  display: grid;
  grid-template-columns: 10% 10%;
  width: 100%;
  height: 1.5rem;
  align-items: center;
}

.opcionUno {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.opcionDos {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.opcionUno > input {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcionDos > input {
  width: 3rem;
}

.titleFormEmpresa {
  margin-left: 35px;
  margin-top: 20px;
}

.FormEmpresa {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
  flex-wrap: wrap;
  height: 250px;
}

.hidden {
  display: none;
}

.FormEmpresa select{

  width: 100%;
  height: 35px;
  padding: 1%;
}


.buttonFormEmpresa {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 2%;
}
.buttonFormEmpresa > button {
  margin: 10px;
  width: 8rem;
  height: 2rem;
  background-color: var(--color-violet);
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.205);
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.buttonFormEmpresa > button:hover {
  background-color: var(--color-violet--hover);
}

