.subscriptionclient {
  width: 40%;
  height: 50%;
  box-shadow: 0 10px 10px #ccc;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
}
.subscriptionclient .titleRegister{
    text-align: left;
}
.subscriptionclient ul {
    margin-left: 20px;
    color: var(--color-violet)
}
.numberLife{
    color: var(--color-violet);
    font-size: 2rem;
}

.subscriptionclient h3{
    text-align: center;
}

.dates{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: var(--color-violet);
}