.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a{
    display: inherit;
    align-items: center;
    color: var(--color-gray-dark);
    font-weight: 600;
    width: 100%;
    padding: 0.5rem 0.2rem;
    transition: 1s ease-in-out;
}
.imagePerfil img {
    width: 100%;
}
.imagePerfil{
    width: 100px;
    margin: 0 auto;
}
.links img{
    margin: 0 10px;
}

.links a:hover{
    background-color: rgb(138, 138, 138)
}
.icon{
    width: 32px;
    height: 33px;
}
.informationUser {
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
}
.activate {
    background-color: red;
}