.sidebar {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  box-shadow: 0px 4px 4px 0px rgba(224, 223, 223, 0.25);
}

.sidebar li {
  list-style-type: none;
}

.logo {
  margin: 5px;
  /* border: 1px solid; */
  /* width: 100%; */
  height: 6rem;
  background-image: url("/src/assets/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.imagePerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePerfil {
  margin: 0 auto;
  padding: 0px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 32px;
  height: 33px;
}

.informationUser {
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.informationUser h3 {
  font-size: 1.5rem;
  color: var(--color-violet);
}

.activate {
  background-color: red;
}

.role {
  font-weight: normal;
  font-size: 1rem;
}

.informationUser h3 {
  font-size: 25px;
  color: #ca2355;
}

.informationUser small {
  font-size: 18px;
}

.activate {
  background-color: red;
}

.role {
  font-weight: normal;
  font-size: 1rem;
}

.links {
  width: 100%;
  list-style: none;
  font-weight: 500;
  overflow: auto;
  flex: 1;
}

.links a {
  align-items: center;
  color: #222;
  display: flex;
  text-decoration: none;
  width: 100%;
  /* transition: 1s ease-in-out; */
  padding: 10px 0 10px 23px;
}

.links a:hover {
  font-weight: 700;
}

.links span {
  color: #222;
  width: 100%;
  cursor: pointer;
  /* transition: 1s ease-in-out; */
  padding: 10px 0 10px 23px;
}

.links span:hover {
  background-color: var(--color-violet--light2);
}

.links span:hover {
  font-weight: 700;
}

.mainMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subMenu {
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  /* background: #e6e6e6; */
  background: var(--color-violet--light2);

  height: auto;
}

.mainMenuActive {
  border-left: 5px solid var(--color-violet);
  background: var(--color-violet--light2);
  & .icon {
    fill: #ca2355;
    color: #ca2355;
  }
  & p {
    color: var(--color-violet);
    font-weight: 700;
  }
}

.subMenu a {
  padding-left: 45px;
}

.subMenu a:hover {
  font-weight: 700;
}

.activeSubMenu {
  /* border-left: 5px solid #202020; */
  background: var(--color-violet--light);

  & a {
    color: var(--color-violet);
    font-weight: 700;
  }
}
