.containerPanel {
    width: 100%;
    height: 100vh;
    position: relative;
}

.promotionalBanners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 200px;
}

.information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.blurEffect {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

.backgroundIsOpenModal{
    background-color: rgba(214, 212, 212, 0.5); 
}