/* .containerPanel{
    border: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
} */

/* .colorViolet {
    color: var(--color-violet);
} */
.promotionalBanners {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   height: 200px;
}
.information{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}