:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
  --color-primary: rgb(50, 122, 255);
  --color-secondary: rgb(145, 184, 234);
  --color-tertiary: rgb(130, 173, 255);
  --color-gray: rgb(252, 252, 252);
  --color-gray-dark: rgb(60, 60, 60);
  --color-gray-light: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);
  --color-violet: rgb(202, 35, 85);
  --color-violet--light: rgba(202, 35, 85, 15%);
  --color-violet--light2: rgb(250, 233, 238);
  --color-violet--hover: rgb(160, 29, 68);
  --color-yellow: rgb(255, 206, 89);
  --color-yellow--hover: rgb(206, 159, 48);
  --color-aqua: rgb(20, 194, 223);
  --color-aqua--hover: rgb(16, 163, 189);
  font-synthesis: none;
}

input,
select,
textarea {
  outline: none;
}

select, input[type="radio"]{
  accent-color: var(--color-violet)
}

a {
  text-decoration: none;
}

input[type=file] {
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  border-left: 0;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--color-violet);
  padding: 5px 5px;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: var(--color-violet--hover);
}

label {
  font-weight: bold;
}

textarea {
  border: 1px solid var(--color-gray);
  padding: 10px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

table thead tr {
  /* border-radius: 5px; */
  background-color: var(--color-aqua);
  color: #ffffff;
  text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-aqua);
}

table tbody tr:hover{
  font-weight: bold;
  color: var(--color-aqua);
}

.button-aqua {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  transition: 1s ease-in-out;
  border-radius: 10px;
}

.button-violet {
  background-color: var(--color-violet);
  color: var(--color-white);
  font-weight: bold;
  transition: 1s ease-in-out;
  border-radius: 10px;
}
.button-yellow {
  background-color: var(--color-yellow);
  color: var(--color-gray-dark);
  font-weight: bold;
  padding: 2px;
  margin:10px 0px;
  display: inline-block;
  transition: 1s ease-in-out;
  border-radius: 10px;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Scroll */
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(242, 242, 242);
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* NUEVOS CAMBIOS */

button {
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  background-color: #D9D9D9;
  border: #D9D9D9;
}

button:hover {
  background-color: #b6b4b4;

}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 5px;
  background-color: #e9eaeb;
  border: none;
}